//header
.logo {
  &:hover {
    opacity: 0.7;
  }
  &:active {
    opacity: 0.5;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 17px 0;
}
.header__logo {
}
.header__text {
}
.header__menu-button {
}
