.menu {
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__logo {
}
.menu__logo-text {
}
.menu__button {
}
.menu__list {
}
.menu__list-items {
}
.menu__list-item {
}
